name: Deploy to Pantheon
on:
  push:
    branches:
      - 'master'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.PANTHEON_SSH_KEY }}
        config: ${{ secrets.SSH_CONFIG }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}

    - name: Use Node.js 16.
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: node builder
      working-directory: ./web/frontend
      run: |
        npm install
        npm run build

    - name: deployer
      env:
        pantheon_repo: '${{ secrets.PANTHEON_REPO }}'
      run: |
        git remote add pantheon $pantheon_repo
        git add .
        git commit -q -m 'Build npm assets.'
        git push --force pantheon HEAD:master
